@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #9badd2;
}

h1 {
  color: navy;
}

.header {
  max-width: 700px;
  min-height: 50px;
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

.container {
  max-width: 600px;
  min-height: 100px;
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

.left {
  text-align: left;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
